.flex-center-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

/* Normal desktop :1200px. */
/* Normal desktop :992px. */
/* Tablet desktop :768px. */
/* small mobile :320px. */
/* Large Mobile :480px. */

/* 1. Theme default css */

body {
  font-weight: normal;
  font-style: normal;
  font-family: 'Estedad', 'Vazir';

  background: rgb(219, 224, 234);
}

.img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* search box */

.search_box {
  z-index: 10;
  width: 100%;
  transform: translateY(-50px);
}

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
  display: flex;
}

.search input {
  flex: 1;
  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
  border-radius: 0 1rem 1rem 0;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid rgb(137, 164, 218);
}

.search .fa-search {
  position: absolute;
  top: 20px;
  right: 25px;
  color: rgb(137, 164, 218);
}

.search button {
  height: 60px;
  width: 110px;
  background: #009DFF;
  border-radius: 1rem 0 0 1rem;
  color: white;
  font-weight: 600;
}

.search button:hover {
  background-color: #198ed7;
}

.form-control::placeholder {
  text-align: right;
  padding-right: 50px;
}

/* /search box */

a,
.button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}


a:focus,
.button:focus,
button:focus {
  text-decoration: none;
  outline: none;
}


a:focus {
  color: #fff;
  text-decoration: none;
}


a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none;
  color: #1F1F1F;
}


a,
button {
  color: #1F1F1F;
  outline: medium none;
}


h1,
h2,
h3,
h4,
h5 {
  color: #1F1F1F;
}


h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}


ul {
  margin: 0px;
  padding: 0px;
}


li {
  list-style: none;
}


p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #4D4D4D;
  margin-bottom: 13px;
}


label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}


*::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}


::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}


::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}


*::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}


*:-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}


*::-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}


*::placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}


h3 {
  font-size: 24px;
}


.mb-65 {
  margin-bottom: 67px;
}


.black-bg {
  background: #020c26 !important;
}


.white-bg {
  background: #ffffff;
}


.gray-bg {
  background: #f5f5f5;
}


.overlay {
  position: relative;
  z-index: 0;
}


.overlay::before {
  position: absolute;
  content: "";
  background-color: #1f1f1f;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .5;
}


.overlay2 {
  position: relative;
  z-index: 0;
}


.overlay2::before {
  position: absolute;
  content: "";
  background-color: #000000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
}


.overlay_skyblue {
  position: relative;
  z-index: 0;
}


.overlay_skyblue::before {
  position: absolute;
  content: "";
  background-color: #5DB2FF;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.8;
}

.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}


.pt-120 {
  padding-top: 120px;
}

/* button style */

.owl-carousel .owl-nav div {
  background: transparent;
  height: 50px;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 50px;
  color: #fff;
  background-color: transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  left: 50px;
  font-size: 15px;
  line-height: 50px;
  border: 1px solid #fff;
  left: 140px;
}


.owl-carousel .owl-nav div.owl-next {
  left: auto;
  right: 140px;
}


.owl-carousel .owl-nav div.owl-next i {
  position: relative;
  right: 0;
}


.owl-carousel .owl-nav div.owl-prev i {
  position: relative;
  top: 0px;
}


.owl-carousel:hover .owl-nav div {
  opacity: 1;
  visibility: visible;
}


.owl-carousel:hover .owl-nav div:hover {
  color: #fff;
  background: rgb(137, 164, 218);
  border: 1px solid transparent;
}


.mb-20px {
  margin-bottom: 20px;
}


.mb-55 {
  margin-bottom: 55px;
}


.mb-40 {
  margin-bottom: 40px;
}


.boxed-btn {
  background: #fff;
  color: #131313;
  display: inline-block;
  padding: 18px 44px;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid rgb(137, 164, 218);
  text-align: center;
  color: rgb(137, 164, 218) !important;
  text-transform: uppercase;
  cursor: pointer;
}

@media (max-width: 767px) {
  .boxed-btn {}
}

@media (min-width: 768px) and (max-width: 991px) {
  .boxed-btn {}
}

@media (min-width: 992px) and (max-width: 1200px) {
  .boxed-btn {}
}


.boxed-btn:hover {
  background: rgb(137, 164, 218);
  color: #fff !important;
  border: 1px solid rgb(137, 164, 218);
}


.boxed-btn:focus {
  outline: none;
}


.boxed-btn.large-width {
  width: 220px;
}


.boxed-btn3 {

  background: rgb(137, 164, 218);
  color: #fff;
  display: inline-block;
  padding: 18px 44px;
  font-size: 15px;
  font-weight: 500;
  border: 0;
  border: 1px solid transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: left;
  color: #fff !important;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  transform: translateY(-160px);
}


.boxed-btn3:hover {
  background: #fff;
  color: rgb(137, 164, 218) !important;
  border: 1px solid rgb(137, 164, 218);
}


.boxed-btn3:focus {
  outline: none;
}


.boxed-btn3.large-width {
  width: 220px;
}


.boxed-btn3-white {
  color: #fff;
  display: inline-block;
  padding: 9px 24px;
  font-size: 15px;
  font-weight: 400;
  border: 0;
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  color: #fff !important;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}


.boxed-btn3-white:hover {
  background: #fff;
  color: rgb(137, 164, 218) !important;
  border: 1px solid transparent;
}


.boxed-btn3-white:focus {
  outline: none;
}


.boxed-btn3-white.large-width {
  width: 220px;
}


.boxed-btn3-white-2 {
  color: rgb(137, 164, 218) !important;
  display: inline-block;
  padding: 9px 24px;
  font-size: 15px;
  font-weight: 400;
  border: 0;
  border: 1px solid rgb(137, 164, 218);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}


.boxed-btn3-white-2:hover {
  background: #5DB2FF;
  color: #fff !important;
  border: 1px solid transparent;
}


.boxed-btn3-white-2:focus {
  outline: none;
}


.boxed-btn3-white-2.large-width {
  width: 220px;
}


.boxed-btn2 {
  background: transparent;
  color: #fff;
  display: inline-block;
  padding: 18px 24px;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #fff;
  text-transform: uppercase;
}


.boxed-btn2:hover {
  background: #fff;
  color: #131313 !important;
}


.boxed-btn2:focus {
  outline: none;
}


.line-button {
  color: #919191;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  position: relative;
  padding-right: 5px;
  padding-bottom: 2px;
}


.line-button::before {
  position: absolute;
  content: "";
  background: #919191;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
}


.line-button:hover {
  color: #009DFF;
}


.line-button:hover::before {
  background: #009DFF;
}


.book_now {
  display: inline-block;
  font-size: 14px;
  color: #009DFF;
  border: 1px solid #009DFF;
  text-transform: capitalize;
  padding: 10px 25px;
}


.book_now:hover {
  background: #009DFF;
  color: #fff;
}


.section_title h3 {
  font-size: 36px;
  font-weight: 500;
  line-height: 48px;
  color: #1F1F1F;
  position: relative;
  z-index: 9;
  padding-bottom: 15px;
}


.section_title h3::before {
  position: absolute;
  left: 0;
  background: #5DB2FF;
  height: 2px;
  width: 50px;
  content: '';
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.section_title .see_all {
  color: #009DFF;
  text-align: left;
}


.section_title .fa-chevron-left {
  transform: translate(-5px, 2px);
}

@media (max-width: 767px) {

  .section_title h3 {
    font-size: 30px;
    line-height: 36px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .section_title h3 {
    font-size: 36px;
    line-height: 42px;
  }
}

@media (max-width: 767px) {

  .section_title h3 br {
    display: none;
  }
}


.section_title p {
  font-size: 16px;
  color: #727272;
  line-height: 28px;
  margin-bottom: 0;
}

@media (max-width: 767px) {

  .section_title p br {
    display: none;
  }
}


.mb-100 {
  margin-bottom: 100px;
}

@media (max-width: 767px) {

  .mb-100 {
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {

  .mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 9;
  }
}


.slicknav_menu .slicknav_nav {
  background: #fff;
  float: right;
  margin-top: 0;
  padding: 0;
  width: 95%;
  padding: 0;
  border-radius: 0px;
  margin-top: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 11px;
}


.slicknav_menu .slicknav_nav a:hover {
  background: transparent;
  color: #009DFF;
}


.slicknav_menu .slicknav_nav a.active {
  color: #009DFF;
}

@media (max-width: 767px) {

  .slicknav_menu .slicknav_nav a i {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .slicknav_menu .slicknav_nav a i {
    display: none;
  }
}


.slicknav_menu .slicknav_nav .slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: -40px;
  position: relative;
  z-index: 99;
  border: 1px solid #ddd;
  top: 3px;
  right: 5px;
  top: -36px;
}


.slicknav_menu .slicknav_nav .slicknav_btn .slicknav_icon {
  margin-right: 6px;
  margin-top: 3px;
  position: relative;
  padding-bottom: 3px;
  top: -11px;
  right: -5px;
}

@media (max-width: 767px) {

  .slicknav_menu {
    margin-right: 0px;
  }
}


.slicknav_nav .slicknav_arrow {
  float: right;
  font-size: 22px;
  position: relative;
  top: -9px;
}


.slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 3px;
  top: 5px;
  padding: 5px;
  right: 5px;
  margin-top: -5px;
  top: -31px;
}


.slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 3px;
  top: 5px;
  padding: 5px;
  right: 0;
  margin-top: -5px;
  top: -36px;
}


.header-area {
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 9;
}

@media (max-width: 767px) {

  .header-area {
    padding-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .header-area {
    padding-top: 0;
  }
}


.header-area .main-header-area {
  padding: 18px 0;
  background: #fff;
}


.header-area .main-header-area .logo-img {
  text-align: left;
}

@media (max-width: 767px) {

  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {

  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}

@media (max-width: 767px) {

  .header-area .main-header-area .logo-img img {
    width: 70px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .header-area .main-header-area .logo-img img {
    width: 70px;
  }
}


.header-area .main-header-area .Appointment {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
}


.header-area .main-header-area .Appointment .socail_links ul li {
  display: inline-block;
}


.header-area .main-header-area .Appointment .socail_links ul li a {
  color: #A8A7A0;
  margin: 0 10px;
  font-size: 15px;
}


.header-area .main-header-area .Appointment .socail_links ul li a:hover {
  color: #fff;
}


.header-area .main-header-area .Appointment .book_btn {
  margin-left: 30px;
}

@media (min-width: 992px) and (max-width: 1200px) {

  .header-area .main-header-area .Appointment .book_btn {
    margin-left: 0;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {

  .header-area .main-header-area .Appointment .book_btn {
    margin-left: 0;
  }
}


.header-area .main-header-area .Appointment .book_btn a {
  background: #009DFF;
  padding: 12px 26px;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid transparent;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

@media (min-width: 992px) and (max-width: 1200px) {

  .header-area .main-header-area .Appointment .book_btn a {
    padding: 12px 20px;
  }
}


.header-area .main-header-area .Appointment .book_btn a:hover {
  background: #fff;
  color: #009DFF;
  border: 1px solid #009DFF;
}


.header-area .main-header-area .main-menu {
  text-align: center;
  padding: 12px 0;
}


.header-area .main-header-area .main-menu ul li {
  display: inline-block;
  position: relative;
  margin: 0 10px;
}


.header-area .main-header-area .main-menu ul li a {
  color: #727272;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  padding: 0px 0px 0px 0px;
  position: relative;
  text-transform: capitalize;
}

@media (min-width: 992px) and (max-width: 1200px) {

  .header-area .main-header-area .main-menu ul li a {
    font-size: 15px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {

  .header-area .main-header-area .main-menu ul li a {
    font-size: 15px;
  }
}


.header-area .main-header-area .main-menu ul li a i {
  font-size: 9px;
}

@media (max-width: 767px) {

  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}


.header-area .main-header-area .main-menu ul li a::before {
  position: absolute;
  content: "";
  background: #fff;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  opacity: 0;
  transform: scaleX(0);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}


.header-area .main-header-area .main-menu ul li a:hover::before {
  opacity: 1;
  transform: scaleX(1);
}


.header-area .main-header-area .main-menu ul li a.active::before {
  opacity: 1;
  transform: scaleX(1);
}


.header-area .main-header-area .main-menu ul li a:hover {
  color: #1F1F1F;
}


.header-area .main-header-area .main-menu ul li .submenu {
  position: absolute;
  left: 0;
  top: 160%;
  background: #fff;
  width: 200px;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
  opacity: 0;
  visibility: hidden;
  text-align: left;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}


.header-area .main-header-area .main-menu ul li .submenu li {
  display: block;
}


.header-area .main-header-area .main-menu ul li .submenu li a {
  padding: 10px 15px;
  position: inherit;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  color: #000;
}


.header-area .main-header-area .main-menu ul li .submenu li a::before {
  display: none;
}


.header-area .main-header-area .main-menu ul li .submenu li:hover a {
  color: #000;
}


.header-area .main-header-area .main-menu ul li:hover>.submenu {
  opacity: 1;
  visibility: visible;
  top: 150%;
}


.header-area .main-header-area .main-menu ul li:hover>a::before {
  opacity: 1;
  transform: scaleX(1);
}


.header-area .main-header-area .main-menu ul li:first-child a {
  padding-left: 0;
}


.header-area .main-header-area.sticky {
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  z-index: 99;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.96);
}

@media (max-width: 767px) {

  .header-area .main-header-area.sticky {
    padding: 10px 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .header-area .main-header-area.sticky {
    padding: 10px 10px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {

  .header-area .main-header-area.sticky {
    padding: 10px 20px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {

  .header-area .main-header-area.sticky {
    padding: 10px 20px;
  }
}


.header-area .main-header-area.sticky .main-menu {
  padding: 0;
}


.header-area .header-top_area {
  padding: 12px 0;
  background: #F5FBFF;
}

@media (max-width: 767px) {

  .header-area .header-top_area .social_media_links {
    text-align: center;
  }
}


.header-area .header-top_area .social_media_links a {
  font-size: 15px;
  color: #C7C7C7;
  margin-right: 12px;
}


.header-area .header-top_area .social_media_links a:hover {
  color: #5DB2FF;
}


.header-area .header-top_area .short_contact_list {
  text-align: right;
}

@media (max-width: 767px) {

  .header-area .header-top_area .short_contact_list {
    text-align: center;
  }
}


.header-area .header-top_area .short_contact_list ul li {
  display: inline-block;
}


.header-area .header-top_area .short_contact_list ul li a {
  font-size: 13px;
  color: #919191;
  margin-left: 50px;
}

@media (max-width: 767px) {

  .header-area .header-top_area .short_contact_list ul li a {
    margin-left: 0;
    margin: 0 5px;
  }
}


.header-area .header-top_area .short_contact_list ul li a i {
  color: #5DB2FF;
  margin-right: 7px;
}


.slider_bg_1 {
  background-image: url(../img/banner/docvis1.jpg);
}


.slider_bg_2 {
  background-image: url(../img/banner/banner2.jpg);
}


.slider_area .single_slider {
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 767px) {
  .slider_area .single_slider {
    height: 420px;
  }
}

.slider_area .single_slider .slider_text h4 {
  color: #f4f4f4;
  font-size: 100px;
  font-weight: 700;
  text-align: center;
  transform: translateY(-90px);
}

@media (max-width: 767px) {

  .slider_area .single_slider .slider_text h4 {
    font-size: 33px;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .slider_area .single_slider .slider_text h4 {
    font-size: 60px;
    text-align: center;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {

  .slider_area .single_slider .slider_text h4 {
    font-size: 60px;
  }
}


.slider_area .single_slider .slider_text p {
  font-size: 18px;
  font-weight: 400;
  color: #094863;
  margin-bottom: 40px;
  margin-top: 10px;
  text-align: center;
  transform: translateY(-70px);
}

@media (min-width: 768px) and (max-width: 991px) {

  .slider_area .single_slider .slider_text p {
    font-size: 16px;
    text-align: center;
  }

}

/* Welcome Cards */

.welcome_thumb .thumb_1,
.thumb_2 {
  height: 50vh;

}

.welcome_docmed_area {
  padding-top: 3%;
  padding-bottom: 5%;
}

.welcome_docmed_info {
  text-align: right;
}

@media (max-width: 767px) {

  .welcome_docmed_area {
    padding-bottom: 100px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {

  .welcome_docmed_area {
    padding-bottom: 100px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .welcome_docmed_area {
    padding-bottom: 100px;
  }
}

.welcome_docmed_area .welcome_thumb {
  position: relative;
}


.welcome_docmed_area .welcome_thumb .thumb_1 {
  left: 0;
}


.welcome_docmed_area .welcome_thumb .thumb_1 img {
  width: 60%;
}

@media (max-width: 767px) {

  .welcome_docmed_area .welcome_thumb .thumb_1 img {
    width: 100%;
  }
}


.welcome_docmed_area .welcome_thumb .thumb_2 {
  position: absolute;
  bottom: -94px;
  right: -37px;
}

@media (max-width: 767px) {

  .welcome_docmed_area .welcome_thumb .thumb_2 {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .welcome_docmed_area .welcome_thumb .thumb_2 {
    position: absolute;
    right: 0;
    bottom: -40px;
  }
}


.welcome_docmed_area .welcome_thumb .thumb_2 img {
  width: 89%;
}

@media (min-width: 768px) and (max-width: 991px) {

  .welcome_docmed_area .welcome_thumb .thumb_2 img {
    width: 100%;
  }
}


.welcome_docmed_area .welcome_docmed_info {
  padding-left: 90px;
}

@media (max-width: 767px) {

  .welcome_docmed_area .welcome_docmed_info {
    padding-left: 0;
    margin-top: 40px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .welcome_docmed_area .welcome_docmed_info {
    padding-left: 0;
    margin-top: 100px;
  }
}


.welcome_docmed_area .welcome_docmed_info h3 {
  font-size: 18px;
  font-weight: 400;
  color: #1F1F1F;
  margin-bottom: 40px;
  position: relative;
  z-index: 9;
  padding-bottom: 9px;
}


.welcome_docmed_area .welcome_docmed_info h3:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 170px;
  background: #5DB2FF;
}


.welcome_docmed_area .welcome_docmed_info h5 {
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 10px;
}

@media (max-width: 767px) {

  .welcome_docmed_area .welcome_docmed_info h5 {
    font-size: 30px;
  }
}

@media (max-width: 767px) {

  .welcome_docmed_area .welcome_docmed_info h5 br {
    display: none;
  }
}

.welcome_docmed_area .welcome_docmed_info ul {
  margin-bottom: 40px;
  margin-top: 40px;
  margin-right: 20px;
}


.welcome_docmed_area .welcome_docmed_info ul li {
  color: #727272;
  font-size: 16px;
  line-height: 28px;
}


.welcome_docmed_area .welcome_docmed_info ul li i {
  margin-right: 10px;
  color: #5DB2FF;
  font-weight: 16px;
}

.welcome_docmed_info ul {
  list-style: none;
  padding: 0;
}

.welcome_docmed_info ul li {
  position: relative;
  /* set the position of the list items to relative */
}

.welcome_docmed_info ul li i {
  position: absolute;
  transform: translate(35px);
  right: 0;
}

/* /Welcome Cards */

* Business Expert Row */ .business_expert_area {
  padding-bottom: 100px;

}

@media (max-width: 767px) {

  .business_expert_area {
    padding-bottom: 50px;
  }
}


.business_expert_area .business_info .icon i {
  background: #5DB2FF;
  width: 75px;
  height: 75px;
  display: inline-block;
  color: #fff;
  font-size: 35px;
  text-align: center;
  line-height: 75px;
  border-radius: 50%;
}


.business_expert_area .business_info h3 {
  font-size: 20px;
  font-weight: 500;
  color: #1F1F1F;
  margin-top: 16px;
  margin-bottom: 14px;
}


.business_expert_area .business_info p {
  color: #727272;
  line-height: 28px;
  margin-bottom: 0;
}

@media (max-width: 767px) {

  .business_expert_area .business_thumb {
    padding-top: 20px;
  }
}


.business_expert_area .business_thumb img {
  width: 100%;
}


.business_expert_area .business_tabs_area {
  background: #F5FBFF;
}


.business_expert_area .business_tabs_area .nav .nav-item {
  width: 33.3333333334%;
}

@media (max-width: 767px) {
  .business_expert_area .business_tabs_area .nav .nav-item {
    width: 100%;
  }
}


.business_expert_area .business_tabs_area .nav .nav-item a {
  font-size: 20px;
  font-weight: 400;
  color: #1F1F1F;
  padding: 35px 0px 35px 40px;
}

@media (max-width: 767px) {

  .business_expert_area .business_tabs_area .nav .nav-item a {
    padding: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .business_expert_area .business_tabs_area .nav .nav-item a {
    padding: 20px;
    font-size: 15px;
  }
}


.business_expert_area .business_tabs_area .nav .nav-item a.active {
  background: #fff;
}


.business_expert_area .business_tabs_area #myTab {
  display: flex;
  align-content: center;
  justify-content: space-between;
}


.border_bottom {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 60px;
  padding-top: 60px;
}

/* /Business Expert Row */

/* Common Question */

.container {
  width: 1180px;
  margin-top: 1.5em;
}

#accordion .panel {
  border-radius: 0;
  border: 0;
  margin-top: 0px;
  text-align: right;
  direction: rtl;
}

#accordion .panel-title {
  font-size: 19px;
  font-weight: 500px;
  color: #4b4b4b;
}

#accordion a {
  display: block;
  padding: 10px 15px;
  border-bottom: 1px solid rgb(137, 164, 218);
  text-decoration: none;
}

#accordion .panel-heading a.collapsed:hover,
#accordion .panel-heading a.collapsed:focus {
  background-color: rgb(137, 164, 218);
  color: white;
  transition: all 0.2s ease-in;
}

#accordion .panel-heading a.collapsed:hover::before,
#accordion .panel-heading a.collapsed:focus::before {
  color: white;
}

#accordion .panel-heading {
  padding: 0;
  border-radius: 0px;
  text-align: center;
}

#accordion .panel-heading a:not(.collapsed) {
  color: white;
  background-color: rgb(137, 164, 218);
  transition: all 0.2s ease-in;
}

/* Add Indicator fontawesome icon to the left */
#accordion .panel-heading .accordion-toggle::before {
  font-family: 'FontAwesome';
  content: '\f00d';
  float: left;
  color: white;
  font-weight: lighter;
  transform: rotate(0deg);
  transition: all 0.2s ease-in;
}

#accordion .panel-heading .accordion-toggle.collapsed::before {
  color: #444;
  transform: rotate(-135deg);
  transition: all 0.2s ease-in;
}


/* /Common Questions */


.border_bottom {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 60px;
  padding-top: 60px;
}


.offers_area {
  padding-bottom: 100px;
}

@media (max-width: 767px) {

  .offers_area {
    padding-bottom: 40px;
  }
}


.offers_area.padding_top {
  padding-top: 200px;
}

@media (max-width: 767px) {

  .offers_area.padding_top {
    padding-top: 40px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .offers_area.padding_top {
    padding-top: 80px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {

  .offers_area.padding_top {
    padding-top: 80px;
  }
}

@media (max-width: 767px) {

  .offers_area .single_offers {
    margin-bottom: 30px;
  }
}


.offers_area .single_offers .about_thumb {
  overflow: hidden;
}


.offers_area .single_offers .about_thumb img {
  width: 100%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}


.offers_area .single_offers h3 {
  font-size: 22px;
  font-weight: 400;
  color: #1F1F1F;
  margin-top: 32px;
}

@media (min-width: 768px) and (max-width: 991px) {

  .offers_area .single_offers h3 {
    font-size: 18px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .offers_area .single_offers h3 br {
    display: none;
  }
}


.offers_area .single_offers ul {
  margin-top: 17px;
  margin-bottom: 30px;
}


.offers_area .single_offers ul li {
  font-size: 16px;
  color: #4D4D4D;
  line-height: 28px;
  position: relative;
  z-index: 9;
  padding-left: 23px;
}


.offers_area .single_offers ul li::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background: #4D4D4D;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%;
}


.offers_area .single_offers a {
  width: 100%;
  text-align: center;
}


.offers_area .single_offers:hover .about_thumb img {
  width: 100%;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.footer {
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  direction: rtl;
  text-align: right;
}


.footer .footer_top {
  padding-top: 145px;
  padding-bottom: 129px;
  background: #1F1F1F;
}

@media (max-width: 767px) {

  .footer .footer_top {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {

  .footer .footer_top .footer_widget {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .footer .footer_top .footer_widget {
    margin-bottom: 30px;
  }
}


.footer .footer_top .footer_widget .footer_title {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 40px;
}


@media (max-width: 767px) {

  .footer .footer_top .footer_widget .footer_title {
    margin-bottom: 20px;
  }
}


.footer .footer_top .footer_widget .footer_logo {
  margin-bottom: 40px;
  transform: translate(14px, -30px);
}

@media (max-width: 767px) {

  .footer .footer_top .footer_widget .footer_logo {
    margin-bottom: 20px;
  }
}

.footer .footer_top .footer_widget p {
  color: #C7C7C7;
}

.footer .footer_top .footer_widget .footer_about {
  transform: translateY(-42px);
}



.footer .footer_top .footer_widget p.footer_text {
  font-size: 16px;
  color: #B2B2B2;
  margin-bottom: 23px;
  font-weight: 400;
  line-height: 28px;
}


.footer .footer_top .footer_widget p.footer_text a.domain {
  color: #B2B2B2;
  font-weight: 400;
}


.footer .footer_top .footer_widget p.footer_text a.domain:hover {
  color: #5DB2FF;
  border-bottom: 1px solid #5DB2FF;
}


.footer .footer_top .footer_widget p.footer_text.doanar a {
  font-weight: 500;
  color: #B2B2B2;
}


.footer .footer_top .footer_widget p.footer_text.doanar a:hover {
  color: #5DB2FF;
  border-bottom: 1px solid #5DB2FF;
}


.footer .footer_top .footer_widget p.footer_text.doanar a.first {
  margin-bottom: 10px;
}


.footer .footer_top .footer_widget ul li a {
  font-size: 16px;
  color: #BABABA;
  line-height: 42px;
}


.footer .footer_top .footer_widget ul li a:hover {
  color: #5DB2FF;
}


.footer .footer_top .footer_widget .newsletter_form {
  position: relative;
  margin-bottom: 20px;
}


.footer .footer_top .footer_widget .newsletter_form input {
  width: 100%;
  height: 45px;
  background: #fff;
  padding-left: 20px;
  font-size: 16px;
  color: #000;
  border: none;
}


.footer .footer_top .footer_widget .newsletter_form input::placeholder {
  font-size: 16px;
  color: #919191;
}


.footer .footer_top .footer_widget .newsletter_form button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border: none;
  font-size: 14px;
  color: #fff;
  background: #5DB2FF;
  padding: 10px;
  padding: 0 22px;
  cursor: pointer;
}


.footer .footer_top .footer_widget .newsletter_text {
  font-size: 16px;
  color: #BABABA;
}


.footer .copy-right_text {
  padding-bottom: 30px;
  background: rgb(137, 164, 218);
}


.footer .copy-right_text .footer_border {
  padding-bottom: 30px;
}


.footer .copy-right_text .copy_right {
  font-size: 16px;
  color: #414141;
  margin-bottom: 0;
  font-weight: 400;
}

@media (max-width: 767px) {

  .footer .copy-right_text .copy_right {
    font-size: 14px;
  }
}


.footer .copy-right_text .copy_right a {
  color: #5DB2FF;
}


.footer .socail_links {
  transform: translate(8px, -23px);
}

.footer .socail_links i {
  text-align: center;
  font-size: 28px;
  margin-top: 10px;
}

@media (max-width: 767px) {

  .footer .socail_links {
    margin-top: 30px;
  }
}


.footer .socail_links ul li {
  display: inline-block;
}


.footer .socail_links ul li a {
  font-size: 18px;
  color: #C3B2F0;
  line-height: 42px;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  background: #707070;
  border-radius: 4px;
  line-height: 50px !important;
  margin-right: 7px;
  color: #FFFFFF;
}


.footer .socail_links ul li a:hover {
  color: #fff !important;
}

.our_department_area {
  background: #F5FBFF;
  padding-top: 120px;
  padding-bottom: 90px;
}

.department_content {
  text-align: right;
  direction: rtl;
}


.our_department_area .single_department {
  background: #fff;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.04);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.04);
}


.our_department_area .single_department .department_thumb {
  overflow: hidden;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}


.our_department_area .single_department .department_thumb img {
  width: 100%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}


.our_department_area .single_department .department_content {
  padding: 22px 30px 24px 30px;
}


.our_department_area .single_department .department_content h3 {
  margin-bottom: 0;
}


.our_department_area .single_department .department_content h3 a {
  font-size: 22px;
  color: #1F1F1F;
  line-height: 33px;
  font-weight: 500;
}


.our_department_area .single_department .department_content h3 a:hover {
  color: #5DB2FF;
}


.our_department_area .single_department .department_content p {
  font-size: 16px;
  line-height: 28px;
  color: #727272;
  margin-top: 5px;
  margin-bottom: 10px;
}


.our_department_area .single_department .department_content .learn_more {
  color: #5DB2FF;
  font-size: 16px;
}


.our_department_area .single_department .department_content .learn_more:hover {
  text-decoration: underline;
}


.our_department_area .single_department:hover .department_thumb img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.testmonial_area .single-testmonial {
  padding: 180px 0;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.testmonial_area .testmonial_more button {
  background: rgb(208, 218, 238);
  width: 20%;
  border-radius: 2rem;
}


.testmonial_area .testmonial_info .quote h1 {
  color: #fff;
  font-size: 30px;
  margin-bottom: 20px;
  transform: translateY(-50px);
}


.testmonial_area .testmonial_info p {
  color: #fff;
  font-size: 40px;
  line-height: 70px;
  font-weight: 400;
  margin-top: 12px;
  margin-bottom: 47px;
  direction: rtl;
}

@media (min-width: 280px) and (max-width: 991px) {


  .testmonial_area .testmonial_info h4 {
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    padding-top: 21px;
  }


  .testmonial_area .testmonial_info h4:before {
    position: absolute;
    background: #fff;
    width: 60px;
    height: 2px;
    content: '';
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 0;
  }

  .testmonial_area .owl-carousel .owl-nav div {
    left: 340px;
  }


  .testmonial_area .owl-carousel .owl-nav div.owl-next {
    right: 340px;
    left: auto;
  }
}


.testmonial_bg_1 {
  background-image: url(../img/testmonial/3.jpg);

}


.testmonial_bg_2 {
  background-image: url(../img/testmonial/4.jpg);
}

.testmonial_bg_1,
.testmonial_bg_2 {
  height: 600px;
  width: 100%;
  background-size: cover;
  /* Ensure the image covers the entire area */
  background-blend-mode: multiply;
  /* Blend the background image with the gradient */
}

.testmonial_bg_1:before,
.testmonial_bg_2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  /* Create a gradient from gray to gray, effectively a solid gray overlay */
}


.service_area {
  background: #83C4FF;
}


.service_area .single_service {
  padding: 40px 30px;
}

@media (min-width: 768px) and (max-width: 991px) {

  .service_area .single_service {
    padding: 40px 20px;
  }
}


.service_area .single_service .icon {
  margin-bottom: 10px;
}


.service_area .single_service .icon i {
  font-size: 50px;
  color: #fff;
}


.service_area .single_service h3 {
  font-size: 35px;
  font-weight: 600;
  color: #fff;
}

@media (min-width: 768px) and (max-width: 991px) {

  .service_area .single_service h3 {
    font-size: 30px;
  }
}


.service_area .single_service p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 26px;
}

@media (min-width: 768px) and (max-width: 991px) {

  .service_area .single_service .boxed-btn3-white {
    padding: 5px 10px;
  }
}


.service_area .col-xl-4:nth-child(2) .single_service {
  background: #5DB2FF;
}


.expert_doctors_area {
  padding-top: 120px;
  padding-bottom: 120px;
}


.expert_doctors_area.doctor_page {
  padding-bottom: 80px;
}

@media (max-width: 767px) {

  .expert_doctors_area {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}


.expert_doctors_area .doctors_title h3 {
  font-size: 36px;
  font-weight: 500;
  color: #1F1F1F;
  text-align: center;
}

.expert_doctors_area .doctors_title .see_all {
  color: #009DFF;
  text-align: left;
}

.expert_doctors_area .doctors_title .see_all .fa-chevron-left {
  transform: translate(-5px, 2px);
}

@media (max-width: 767px) {

  .expert_doctors_area .doctors_title h3 {
    font-size: 24px;
  }
}


.expert_doctors_area .single_expert .expert_thumb {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}


.expert_doctors_area .single_expert .expert_thumb img {
  transition: 0.3s;
  transform: scale(0.9);
  width: 70%;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
}


.expert_doctors_area .single_expert .experts_name {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background: #F5FBFF;
  padding-top: 16px;
  padding-bottom: 18px;
}


.expert_doctors_area .single_expert .experts_name h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}


.expert_doctors_area .single_expert .experts_name span {
  color: #919191;
  font-size: 13px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}


.expert_doctors_area .single_expert:hover .expert_thumb img {
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}


.expert_doctors_area .single_expert:hover .experts_name {
  background: #5DB2FF;
}


.expert_doctors_area .single_expert:hover .experts_name h3 {
  color: #fff;
}


.expert_doctors_area .single_expert:hover .experts_name span {
  color: #fff;
}


.expert_doctors_area .owl-carousel .owl-nav div {
  background: transparent;
  height: 40px;
  left: 0px;
  text-align: center;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  width: 40px;
  color: #919191;
  background-color: transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 15px;
  line-height: 40px;
  border: 1px solid #EEEEEE;
  left: auto;
  left: auto;
  top: -100px;
  right: 55px;
}


.expert_doctors_area .owl-carousel .owl-nav div.owl-next {
  left: auto;
  right: 0;
}


.expert_doctors_area .owl-carousel .owl-nav div.owl-next i {
  position: relative;
  right: 0;
}


.expert_doctors_area .owl-carousel .owl-nav div.owl-prev i {
  position: relative;
  top: 0px;
}


.Emergency_contact .single_emergency {
  padding: 91px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  direction: rtl;
  text-align: right;
}

.Emergency_contact .single_emergency .info_button {
  transform: translate(-10px, 15px);
}

@media (max-width: 767px) {

  .Emergency_contact .single_emergency {
    padding: 40px;
    display: block !important;
  }
}


.Emergency_contact .single_emergency .info {
  margin-right: 30px;
}


.Emergency_contact .single_emergency .info h3 {
  font-size: 26px;
  font-weight: 500;
  color: #fff;
}

@media (min-width: 1200px) and (max-width: 1500px) {

  .Emergency_contact .single_emergency .info h3 {
    font-size: 20px;
  }
}


.Emergency_contact .single_emergency .info p {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 0;
}


.Emergency_contact .single_emergency .info_button a {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}


.emergency_bg_1 {
  background-image: url(../img/banner/emergency-1.png);
}


.emergency_bg_2 {
  background-image: url(../img/banner/emergency-2.png);
}




.expert_doctors_area {
  .container {
    width: 100%;
    border-style: dashed;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 5%;
    border-color: #cbd1e1;
  }
}





/* chart */
.chartinfo {
  .container {
    direction: rtl;
  }
}

.chart-title {
  margin-bottom: 2%;
  direction: rtl;
}

.wrapper {
  width: 400px;
  height: 400px;
  background: rgb(11, 64, 107);
  margin: 10px auto;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  transform: rotate(108deg);
  margin-bottom: 7%;
  margin-top: 2%;
}

.wrapper .d1 {
  width: 800px;
  height: 800px;
  position: absolute;
  top: -200px;
  left: -200px;
  transform: rotate(0deg);
}

.wrapper .d1 div {
  width: 800px;
  height: 800px;
}

.wrapper .d1 div:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  border: solid transparent;
  border-width: 400px;
  border-top-color: rgb(11, 64, 107);
  position: relative;
  transform: scaleX(-3.07768);
}

.wrapper .d1 div span {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  top: 34%;
  font-size: 12px;
  text-align: center;
  z-index: 100;
  color: #fff;
  transform: rotate(-108deg);
}

.wrapper .d2 {
  width: 800px;
  height: 800px;
  position: absolute;
  top: -200px;
  left: -200px;
  transform: rotate(147.6deg);
}

.wrapper .d2 div {
  width: 800px;
  height: 800px;
}

.wrapper .d2 div:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  border: solid transparent;
  border-width: 400px;
  border-top-color: rgb(27, 79, 122);
  position: relative;
  transform: scaleX(0.82727);
}

.wrapper .d2 div span {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  top: 34%;
  font-size: 12px;
  text-align: center;
  z-index: 100;
  color: #fff;
  transform: rotate(-255.6deg);
}

.wrapper .d3 {
  width: 800px;
  height: 800px;
  position: absolute;
  top: -200px;
  left: -200px;
  transform: rotate(201.6deg);
}

.wrapper .d3 div {
  width: 800px;
  height: 800px;
}

.wrapper .d3 div:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  border: solid transparent;
  border-width: 400px;
  border-top-color: rgb(54, 111, 158);
  position: relative;
  transform: scaleX(0.25676);
}

.wrapper .d3 div span {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  top: 34%;
  font-size: 12px;
  text-align: center;
  z-index: 100;
  color: #fff;
  transform: rotate(-309.6deg);
}

.wrapper .d4 {
  width: 800px;
  height: 800px;
  position: absolute;
  top: -200px;
  left: -200px;
  transform: rotate(228.6deg);
}

.wrapper .d4 div {
  width: 800px;
  height: 800px;
}

.wrapper .d4 div:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  border: solid transparent;
  border-width: 400px;
  border-top-color: rgb(113, 163, 204);
  position: relative;
  transform: scaleX(0.22353);
}

.wrapper .d4 div span {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  top: 34%;
  font-size: 12px;
  text-align: center;
  z-index: 100;
  color: #fff;
  transform: rotate(-336.6deg);
}

.wrapper .d5 {
  width: 800px;
  height: 800px;
  position: absolute;
  top: -200px;
  left: -200px;
  transform: rotate(246.6deg);
}

.wrapper .d5 div {
  width: 800px;
  height: 800px;
}

.wrapper .d5 div:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  border: solid transparent;
  border-width: 400px;
  border-top-color: rgb(151, 192, 224);
  position: relative;
  transform: scaleX(0.09453);
}

.wrapper .d5 div span {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  top: 34%;
  font-size: 12px;
  text-align: center;
  z-index: 100;
  color: #fff;
  transform: rotate(-354.6deg);
}

/* chart */
