* {
    font-family: 'Vazirmatn' , 'Estedad', 'Dana' ;
}

body {
    background: rgb(215, 221, 233);

}

.title {
    margin-top: 100px;
    margin-right: 1rem;
    direction: rtl;
    color:rgb(2, 60, 108) ;
}

.search-by {
    direction: rtl;

    .container {
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 0%;
    }

    .btn {
        background-color: rgb(2, 60, 108);
        margin-right: 0.4rem;
        font-size: 1.3rem;
    }
}

.sort-by {
    direction: rtl;

    .container {
        padding: 10px;
        border-radius: 10px;
        margin-top: 0rem;
    }

    .btn {
        background-color: rgb(2, 60, 108);
        margin-right: 0.4rem;
        font-size: 1.3rem;
    }
}

.btn{
    background-color: rgb(17, 69, 111);
    border: none;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.ratings i {
    color: rgb(226, 211, 0)
}
.card:hover {
    -webkit-box-shadow: 3px 5px 17px -4px #777777;
    box-shadow: 3px 5px 17px -4px #777777
}
.address{
    padding-left: 2rem;
    padding-right: 2rem;
    direction: rtl;
}
.card{
    margin: 0.5rem;
}
.img{
    margin-top: 1.5rem;
}
.pagination-bar{
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
}
