* {
    font-family: 'Estedad', 'Dana', 'Vazirmatn';
}

body {
    background: rgb(215, 221, 233);

}

/* .doccard {
    margin-top: 60px;

    .card {
        .btn {
            background-color: rgb(2, 60, 108);
        }

        width: 100%;
        height: 100%;
        border-radius: 10px;
        margin-left: 50px;
        margin-right: 50px;
        direction: rtl;

        .btn {
            margin-right: 10px;
            width: 25%;
        }
    }

    .card-title {
        margin-right: 25px;
        margin-top: 25px;
    }

    .specialist {
        margin-right: 25px;
    }

    .card-text {
        margin-right: 20px;
    }
}

.card-img-top {
    width: 20%;
    height: 30%;
    border-radius: 0px;
    margin-right: 40px;
    margin-top: 5px;


} */

.title {
    margin-top: 100px;
    margin-right: 1rem;
    direction: rtl;
}

.search-by {
    direction: rtl;

    .container {
        padding: 10px;
        border-radius: 10px;
    }

    .btn {
        background-color: rgb(2, 60, 108);
        width: 30%;
        margin-right: 0.3rem;
    }
}

.sort-by {
    direction: rtl;

    .container {
        padding: 10px;
        border-radius: 10px;
        margin-top: 1rem;
    }

    .btn {
        background-color: rgb(2, 60, 108);
        width: 30%;
        margin-right: 0.3rem;
    }
}

.btn{
    background-color: rgb(2, 60, 108);
    border: none;
}
.ratings i {
    color: rgb(226, 211, 0)
}
.card:hover {
    -webkit-box-shadow: 3px 5px 17px -4px #777777;
    box-shadow: 3px 5px 17px -4px #777777
}
.address{
    padding-left: 2rem;
    padding-right: 2rem;
    direction: rtl;
}
